.app {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  min-height: 100vh;
}

.loader {
  margin-left: 2em;
  padding: 0 0.5em 0 0.5em;
  font-size: 0.7em;
  display: inline;
  visibility: hidden;
  background-color: rgb(145, 182, 161);
  color: #efefef;
}

.loading {
  visibility: visible;
}