:root {
  --square-width: 38px;
}

.grid {
  margin-left: 2em;
  grid-gap: 0;
  margin-top: 2.5em;
  display: grid;
  border: 1px solid #343434;
  grid-template-rows: repeat(13, var(--square-width));
  grid-template-columns: repeat(13, var(--square-width));
  grid-auto-flow: column;
}
