.square {
  box-sizing: border-box;
  border: 1px solid #343434;
  background-color: white;
}

.number {
  margin: -0.3em 0 0 0.1em;
  font-size: 0.9em;
  font-weight: 500;
}

.block {
  background-color: #121212;
}