.button {
  border: 1px solid #9fc59f;
  padding: 0.8em;
}


.button:hover {
  cursor: pointer;
}

.button:not(.on):hover {
  background-color: #dfdfdf;
}

.selected {
  border: 1px solid #343434;
  background-color: #9fc59f;
}

.small {
  font-size: 0.8em;
}

.medium {
  font-size: 1em;
}

.large {
  font-size: 1.2em;
}