.button {
  font-size: inherit;
  border: 1px solid #9fc59f;
}

.button:hover {
  cursor: pointer;
}

.button:not(.selected):hover {
  background-color: #dfdfdf;
}

.selected {
  border: 1px solid #343434;
  background-color: #9fc59f;
}

.tiny {
  font-size: 0.6em;
  padding: 0.35em 0.6em;
}

.small {
  font-size: 0.8em;
  padding: 0.4em;
}

.medium {
  font-size: 1em;
  padding: 0.5em;
}

.large {
  font-size: 1.2em;
  padding: 0.6em;
}